//Variables
$primary-font: "Inter", "Serif";
$pdf-font: "Mulish", sans-serif;

//Colors
$primary-color: #575768;
$secondary-color: #424242;
$red-primary: #b10f36;
$red-secondary: #c52d52;
$black: #3b3a45;
$white: #ffffff;
$gray: #424242;
$lightGray: #898999;
$bg-primary: #f9f8ff;
